@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.players-list {
  .title {
    @include section-title;
  }

  .player-entries {
    a {
      text-decoration: none;
    }
    .player-entry {
      @include flex-parent;
      @include highlight-on-hover;
      padding: 10px 20px;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.4);

      &:last-of-type {
        border-bottom: 0;
      }

      .picture {
        @include flex-child;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
      }

      .name {
        @include flex-child-grow;
      }
    }
  }
}
