@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.game-enrollment-form {
  .label {
    @include section-title;
  }

  .options {
    @include flex-parent(center, flex-start)
    align-content: stretch;

    .option {
      @include flex-child-grow(100%);
      padding: 10px 10px;
      margin-right: 10px;
      text-align: center;
      cursor: pointer;

      &:last-of-type {
        margin-right: 0;
      }

      &.yes {
        @include clickable-effects($bg-color-success);
      }

      &.no {
        @include clickable-effects($bg-color-danger);
      }

      &.maybe {
        @include clickable-effects($bg-color-default-alert);
      }
    }
  }
}
