@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.errors {
  position: fixed;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  max-height: 80vh;
  max-width: 800px;
  margin: 0 auto;
  overflow: auto;
  background-color: $darken-color;
  color: $fg-color;
  padding: $spacing-l 0;
  box-shadow: $shadow;

  &:empty {
    padding: 0;
  }

  .error {
    background-color: $bg-color-danger;
    position: relative;
    padding: $spacing-l;
    margin: $spacing-l;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .header {
      display: flex;
      align-items: flex-start;

      .title {
        flex: 1 1 100%;
        font-size: $font-size-m;
        padding-bottom: $spacing-s;
        margin-right: $spacing-l;
      }

      .dismiss {
        flex: 1 0 auto;
        font-size: $font-size-m;
      }
    }

    .message {
      word-wrap: break-word;
    }
  }
}
