@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.section {
  position: relative;
  margin-bottom: $spacing-xl;

  .section-bar {
    @include flex-parent(flex-start, flex-start);

    .section-title {
      flex: 0 1 auto;
      font-size: $font-size-l;
      padding-bottom: $spacing-m;
      margin-right: $spacing-l;

      &:empty {
        padding: 0;
      }

      @include tablet-and-smaller {
        font-size: $font-size-m;
      }
    }

    .buttons-panel {
      @include flex-child-grow;
      text-align: right;
    }
  }
}
