@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.editable-text-input {
  display: inline-block;
  background-color: $fg-color;
  border: 0;
  border-image: 0;
  padding: 0;
  color: $bg-color;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;

  &:focus {
    outline: 0;
  }
}

.editable-text {
  display: inline-block;
  padding: 0;
}
