@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.section {
  margin-bottom: 20px;

  .section-title {
    font-size: $font-size-l;
    padding-bottom: 10px;

    @include tablet-and-smaller {
      font-size: $font-size-m;
    }
  }
}
