@import '~styles/variables.scss';
@import '~styles/mixins.scss';

$spinner-size:        40px;

.spinner {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.8s;

  &.fixed {
    position: fixed;
    width: $spinner-size;
    height: $spinner-size;
    top: $spinner-size / 2;
    right: $spinner-size / 2;
  }

  &.relative {
    position: relative;
    text-align: center;
    margin: $spinner-size;
  }

  &.visible {
    opacity: 1;
  }

  .spinner-image {
    color: $fg-color;
    width: $spinner-size;
    height: $spinner-size;
    animation: spin 1.4s linear infinite;
  }
}
