@import '~styles/variables.scss';

@mixin small-phone {
  @media only screen
    and (max-width: $screen-xs - 1) {
      @content;
  }
}

@mixin phone {
  @media only screen
    and (max-width: $screen-s - 1) {
      @content;
  }
}

@mixin tablet {
  @media only screen
    and (min-width: $screen-s)
    and (max-width: $screen-m - 1) {
      @content;
  }
}

@mixin tablet-and-smaller {
  @media only screen
    and (max-width: $screen-m - 1) {
      @content;
  }
}

@mixin desktop {
  @media only screen
    and (min-width: $screen-m) {
      @content;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flex-parent($align-items: center, $justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flex-child-grow($flex-basis: auto) {
  flex: 1 1 $flex-basis;
}

@mixin flex-child {
  flex: 0 0 auto;
}

@mixin clickable-effects($color) {
  background-color: $color;
  user-select: none;
  cursor: pointer;

  &.inactive {
    background-color: desaturate($color, 30%);
    opacity: 0.25;
  }

  &:hover {
    background-color: lighten($color, 10%);
  }

  &:active {
    background-color: darken($color, 10%);
  }
}

@mixin transparent-clickable-effects() {
  background-color: transparent;
  user-select: none;
  cursor: pointer;

  &.inactive {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.25;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@mixin highlight-on-hover($color: $highlight-color) {
  position: relative;

  &:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: $color;
  }
}

@mixin content-scrolling {
  overflow-y: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  touch-action: pan-y;
}

@mixin input {
  display: block;
  width: 100%;
  line-height: 26px;
  height: 36px;
  background-color: $fg-color;
  padding: $spacing-xs $spacing-s;
  border: 0;
  border-radius: 0;
  border-image: 0;
  font-size: $font-size-m;
  color: $bg-color;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;

  &:focus {
    outline: 0;
  }

  @include tablet-and-smaller {
    font-size: $font-size-s;
  }
}
