@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.new-game {
  .date-input {
    display: flex;

    .hour-input {
      flex: 0 1 50%;
      margin-right: $spacing-l;

      .Select-control, .Select-option {
        text-align: right;
      }
    }

    .minute-input {
      flex: 0 1 50%;
    }

    @include phone {
      flex-wrap: wrap;

      .hour-input {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: $spacing-s;
      }

      .minute-input {
        flex-basis: 100%;
      }
    }
  }
}
