@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.input-wrapper {
  padding-bottom: $spacing-l;
  padding-top: $spacing-l;
  border-bottom: $border-dotted;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  .label {
    display: flex;
    align-items: center;
    padding-bottom: $spacing-s;

    .title {
      @include ellipsis;

      flex: 1 1 auto;
      margin-right: $spacing-l;
    }

    .validation {
      flex: 0 1 auto;

      &.valid {
        color: $bg-color-success;
      }

      &.invalid {
        color: $bg-color-danger;
      }

      .icon {
        margin-right: 0;
      }
    }
  }
}
