@import '~styles/variables.scss';
@import '~styles/mixins.scss';

nav {
  min-height: 100%;
  background-color: $nav-bg-color;
  color: $nav-fg-color;
  border-right: 1px solid rgba(255, 255, 255, 0.3);

  .menu-logo {
    font-size: $font-size-l;
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    @include tablet-and-smaller {
      display: none;
    }
  }

  > ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;

    > li {
      display: block;
      text-align: left;
      cursor: pointer;
      font-size: $font-size-m;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.3);

      a {
        @include clickable-effects($nav-bg-color);
        display: block;
        padding: $spacing-l $spacing-xxl;
        text-decoration: none;
        color: $nav-fg-color;

        @include tablet-and-smaller {
          padding: $spacing-l;
        }

        .icon {
          @include tablet-and-smaller {
            width: 100%;
            margin-right: 0;
          }
        }

        span.label {
          @include tablet-and-smaller {
            display: none;
          }
        }
      }
    }
  }
}
