@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: stretch;
  min-height: 100%;
  opacity: $page-opacity;

  .page-menu {
    @include content-scrolling;
  }

  .page-content-container {
    @include content-scrolling;
    flex: 1;
    padding: $spacing-xxl $spacing-xxxl;
    background-color: $content-bg-color;
    color: $content-fg-color;

    .page-content {
      position: relative;
      max-width: 600px;

      > div {
        min-height: 100%;
      }

      .back-button {
        position: absolute;
        display: inline-block;
        display: none;
        top: 0;
        right: 0;
        font-size: $font-size-s;

        @include tablet-and-smaller {
          display: none;
        }
      }
    }

    @include tablet-and-smaller {
      padding: $spacing-xl;
    }
  }
}
