@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.player-profile {
  .picture {
    display: inline-block;
    width: 128px;
    height: 128px;
    margin-right: $spacing-l;
    margin-bottom: $spacing-l;
    background-color: $highlight-color;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .info {
    display: inline-block;
    vertical-align: top;

    > div {
      margin-bottom: $spacing-s;
    }
  }
}
