@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.button {
  @include transparent-clickable-effects;
  display: inline-block;
  padding: 0px $spacing-s;
  text-align: center;
  cursor: pointer;
  font-size: $font-size-l;

  :focus {
    outline: 0;
  }

  &.is-disabled {
    pointer-events: none;
    color: $fg-color-inactive;
  }

  .icon {
    font-size: $font-size-m;
    margin-top: -$spacing-xs;
    margin-right: $spacing-s;

    &:last-child {
      margin-right: 0;
    }
  }

  @include tablet-and-smaller {
    padding: 0 $spacing-xs;
    font-size: $font-size-m;

    .icon {
      font-size: $font-size-s;
      margin-right: $spacing-xs;
    }
  }

  @include small-phone {
    .icon {
      font-size: $font-size-m;
      margin-right: 0;
    }

    .label {
      display: none;
    }
  }
}
