@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.game-lineup {
  @include flex-parent(flex-start, flex-start);

  @include phone {
    flex-direction: column;
  }

  .team-lineup {
    width: 100%;

    &:first-of-type {
      margin-right: $spacing-l;

      @include phone {
        margin-right: 0;
        margin-bottom: $spacing-l;
      }
    }
  }
}
