@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.games-list-item {
  @include flex-parent;

  .date-time {
    min-width: 200px;
    flex: 0 1 auto;
    margin-right: $spacing-l;

    @include tablet-and-smaller {
      min-width: 180px;
    }

    @include phone {
      @include flex-child-grow;
      min-width: 0;
    }
  }

  .pitch {
    @include flex-child-grow;
    margin-right: $spacing-l;

    @include phone {
      display: none;
    }
  }

  .score {
    @include flex-child;
  }
}
