@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.buttons-panel {
  display: flex;
  justify-content: flex-end;

  > * {
    margin-right: $spacing-s;

    &:last-child {
      margin-right: 0;
    }
  }
}
