@import '~styles/variables.scss';
@import '~styles/mixins.scss';

nav.navigation {
  background-color: $nav-bg-color;
  color: $nav-fg-color;
  border-right: $border-solid;

  .menu-logo {
    font-size: $font-size-l;
    text-align: center;
    padding: 40px 0;
    border-bottom: $border-solid;

    @include tablet-and-smaller {
      display: none;
    }
  }

  > ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    padding-left: 0;
    margin: 0;

    > li {
      position: relative;
      display: block;
      text-align: left;
      cursor: pointer;
      font-size: $font-size-m;
      border-bottom: $border-dotted;

      a {
        @include clickable-effects($nav-bg-color);
        display: block;
        padding: $spacing-l $spacing-xxl;
        text-decoration: none;
        color: $nav-fg-color;

        &.focus {
          background-color: darken($nav-bg-color, 10%);
        }

        @include tablet-and-smaller {
          padding: $spacing-l;
        }

        .icon {
          @include tablet-and-smaller {
            position: relative;
            top: -$spacing-s;
            width: 18px;
            margin-right: 0;
          }
        }

        span.label {
          @include tablet-and-smaller {
            @include ellipsis;
            position: absolute;
            font-size: 12px;
            bottom: $spacing-s;
            left: $spacing-xs;
            right: $spacing-xs;
            text-align: center;
          }
        }
      }
    }
  }
}
