.loadable-content {
  opacity: 1;
  animation-duration: 0.4s;
  animation-name: blink;

  &.is-loading {
    animation: none;
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
