@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.number-picker {
  display: flex;
  align-items: center;

  .subtract {
    display: inline-block;
    margin: 0 $spacing-xs;
  }

  .add {
    display: inline-block;
    margin: 0 $spacing-xs;
  }

  .value {
    display: inline-block;
    width: 41px;
    text-align: center;
    padding: $spacing-xs 0;

    @include phone {
      width: 39px;
    }
  }

  &.vertical {
    flex-direction: column-reverse;

    .subtract {
      margin: $spacing-xs 0;
    }

    .add {
      margin: $spacing-xs 0;
    }
  }
}
