@import '~styles/main.scss';

.page {
  display: flex;
  align-items: stretch;
  opacity: $page-opacity;

  .page-menu {
    flex: 0 0 auto;
  }

  .page-content {
    background-color: $content-bg-color;
    color: $content-fg-color;
    flex: 1 1 auto;
    padding: 40px 60px;
  }
}
