@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.games-list {
  .games-list-item {
    @include flex-parent;

    .date-time {
      min-width: 195px;
      flex: 0 1 auto;
      margin-right: $spacing-l;

      @include tablet-and-smaller {
        min-width: 170px;
      }

      @include phone {
        @include flex-child-grow;
      }
    }

    .pitch {
      @include flex-child-grow;
      margin-right: $spacing-l;

      @include phone {
        display: none;
      }
    }

    .score {
      @include flex-child;
    }
  }

  &.upcoming-games {
    .games-list-item {
      .score {
        display: none;
      }
    }
  }
}
