@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.not-loaded {
  text-align: center;

  .message {
    margin: $spacing-l;
  }

  .button {
    margin: $spacing-l;

    .icon {
      margin-right: $spacing-xs;
    }

    .label {
      display: inline;
    }
  }
}
