@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.value-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .value-picker-option {
    @include transparent-clickable-effects;
    padding: $spacing-xs $spacing-s;
    margin: $spacing-xs;
    cursor: pointer;
    border: $border-transparent;
    text-align: center;

    &.is-selected {
      border: $border-solid;
    }
  }
}
