@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.game-score {
  .score {
    text-align: center;
    font-size: $font-size-xxxl;
    margin-bottom: $spacing-s;

    .team-score {
      display: inline-block;
      font-size: $font-size-xxxl;
      line-height: $font-size-xxxl;
      height: $font-size-xxxl;
      padding: 0;
      width: 100px;

      &.score-a {
        text-align: right;
      }

      &.score-b {
        text-align: left;
      }

      @include tablet-and-smaller {
        font-size: $font-size-xxl;
        line-height: $font-size-xxl;
        height: $font-size-xxl;
        width: 64px;
      }
    }

    @include tablet-and-smaller {
      font-size: $font-size-xxl;
    }
  }

  .details {
    @include ellipsis;
    text-align: center;
    margin-bottom: $spacing-s;
  }
}