@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.match-enrollment {
  .title {
    @include section-title;
  }

  .match-enrollment-entries {
    &:last-of-type {
      margin-bottom: 20px;

      .match-enrollment-entry:last-of-type {
        border-bottom: 0;
      }
    }

    .match-enrollment-entry {
      @include flex-parent;
      position: relative;
      padding: 10px 20px;
      border-bottom: 1px dotted rgba(255,255,255,0.4);

      &:hover::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background-color: $highlight-color;
      }

      .name {
        @include flex-child-grow;
        @include ellipsis;
      }

      .enrollment-status {
        @include flex-child;
      }
    }
  }

  .match-enrollment-form {
    @include flex-parent;

    .label {
      @include flex-child;
      margin-right: 20px;
    }

    .options {
      @include flex-parent;

      .option {
        @include flex-child;
        padding: 10px 30px;
        margin: 0 10px;
        cursor: pointer;

        &.yes {
          @include clickable-effects($bg-color-success);
        }

        &.no {
          @include clickable-effects($bg-color-danger);
        }

        &.maybe {
          @include clickable-effects($bg-color-alert);
        }
      }
    }
  }

  .yes {
    background-color: $bg-color-success;
  }

  .no {
    background-color: $bg-color-danger;
  }

  .maybe {
    background-color: $bg-color-alert;
  }
}
