@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.games-list {
  .game-entries {
    .game-entry {
      @include flex-parent;

      .date-time {
        flex: 0 1 auto;
        @include phone {
          @include flex-child-grow;
        }
      }

      .pitch {
        @include flex-child-grow;
        margin: 0 20px;

        @include phone {
          display: none;
        }
      }

      .score {
        @include flex-child;
      }
    }
  }
}
