@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.games-list {
  .games-list-item {
    @include flex-parent;

    .date-time {
      flex: 0 1 auto;
      margin-right: 20px;

      @include phone {
        @include flex-child-grow;
      }
    }

    .pitch {
      @include flex-child-grow;
      margin-left: 20px;

      @include phone {
        display: none;
      }
    }

    .score {
      @include flex-child;
    }
  }
}
