@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.user-profile {
  .picture {
    width: 128px;
    height: 128px;
    margin-bottom: $spacing-s;
    background-color: $highlight-color;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .info {
    > div {
      margin-bottom: $spacing-s;
    }
  }
}
