@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.team-lineup {
  @include flex-child-grow(100%);

  .team-name {
    text-align: center;
    background-color: $nav-bg-active-color;
    font-size: $font-size-m;
    padding: $spacing-s;
    border-bottom: $border-solid;

    @include tablet-and-smaller {
      font-size: $font-size-s;
    }
  }
}
