@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.users-list-item {
  @include flex-parent;

  .picture {
    @include flex-child;
    width: 50px;
    height: 50px;
    margin-right: $spacing-l;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    @include phone {
      width: 32px;
      height: 32px;
    }
  }

  .name {
    @include flex-child-grow;
  }
}
