@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.button {
  .icon {
    font-size: $font-size-m;
    margin-top: -$spacing-xs;
    margin-right: $spacing-s;

    &:last-child {
      margin-right: 0;
    }
  }

  @include tablet-and-smaller {
    .icon {
      font-size: $font-size-s;
      margin-right: $spacing-xs;
    }
  }

  @include small-phone {
    .icon {
      font-size: $font-size-m;
      margin-right: 0;
    }

    .label {
      display: none;
    }
  }
}
