@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.game-enrollment-form {
  @include flex-parent(center, flex-start)
  align-content: stretch;

  .option {
    @include flex-child-grow(100%);
    padding: $spacing-s;
    border: 0;
    font-size: $font-size-s;
    margin-right: $spacing-m;

    @include small-phone {
      margin-right: $spacing-s;
    }

    &:last-child {
      margin-right: 0;
    }

    &.yes {
      @include clickable-effects($bg-color-success);
    }

    &.no {
      @include clickable-effects($bg-color-danger);
    }

    &.maybe {
      @include clickable-effects($bg-color-default-alert);
    }
  }
}
