$green-light: #99b433;
$green: #00a300;
$green-dark: #1e7145;
$magenta: #ff0097;
$purple-light: #9f00a7;
$purple: #7e3878;
$purple-dark: #603cba;
$darken: #1d1d1d;
$teal: #00aba9;
$blue-light: #eff4ff;
$blue: #2d89ef;
$blue-dark: #2b5797;
$yellow: #ffc40d;
$orange: #e3a21a;
$orange-dark: #da532c;
$red: #ee1111;
$red-dark: #b91d47;
