@import '~styles/colors.scss';

$font-size-xxl:     54px;
$font-size-xl:      34px;
$font-size-l:       26px;
$font-size-m:       16px;
$font-size-s:       12px;
$font-size-xs:      10px;
$page-opacity:      0.98;
$bg-color:          $blue-dark;
$fg-color:          white;

$nav-bg-color:      $bg-color;
$nav-fg-color:      $fg-color;
$content-bg-color:  darken($bg-color, 5%);
$content-fg-color:  $fg-color;

html, body {
  background-color: #F4F3F0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: url(http://blaugrana.pl/themes/blaugrana/img/bg_messi.jpg);
  background-size: cover;

  > #app {
    position: relative;
    flex: 1 1 auto;

    > div > div > div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
a {
  text-decoration: none;
  color: $fg-color;
}

h1 {
  font-size: $font-size-xxl;
  font-weight: 300;
  margin-top: 0;
}

h2 {
  font-size: $font-size-xl;
  font-weight: 300;
  margin-top: 0;
}

.icon {
  margin-top: -4px;
  margin-right: 6px;
}