@import '~styles/variables.scss';
@import '~styles/mixins.scss';
@import "~styles/inputs.scss";

* {
  box-sizing: border-box;
}

html, body {
  background-color: #F4F3F0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: $font-size-m;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet-and-smaller {
    font-size: $font-size-s;
  }
}

a {
  text-decoration: none;
  color: $fg-color;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: $font-size-xxl;
  font-weight: 300;
  margin-top: 0;
}

h2 {
  font-size: $font-size-xl;
  font-weight: 300;
  margin-top: 0;
}

.icon {
  margin-top: -4px;
  margin-right: 6px;
  font-size: $font-size-m;
}

.ellipsis {
  @include ellipsis;
}

.text-highlight {
  color: $yellow;
}

.fg-success {
  color: $bg-color-success;
}

.fg-default-alert {
  color: $bg-color-default-alert;
}

.fg-danger {
  color: $fg-color-danger;
}

.bg-success {
  background-color: $bg-color-success;
}

.bg-default-alert {
  background-color: $bg-color-default-alert;
}

.bg-danger {
  background-color: $bg-color-danger;
}
