@import '~styles/variables.scss';

@mixin phone {
  @media only screen
    and (max-device-width: $screen-s - 1)
    and (orientation: portrait) {
      @content;
  }
}

@mixin tablet {
  @media only screen
    and (min-device-width: $screen-s)
    and (max-device-width: $screen-m - 1)
    and (orientation: portrait) {
      @content;
  }
}

@mixin tablet-and-smaller {
  @media only screen
    and (max-device-width: $screen-m - 1)
    and (orientation: portrait) {
      @content;
  }
}

@mixin desktop {
  @media only screen
    and (min-device-width: $screen-m)
    and (orientation: portrait) {
      @content;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flex-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-child-grow {
  flex: 1 1 auto;
}

@mixin flex-child {
  flex: 0 0 auto;
}

@mixin section-title {
  font-size: $font-size-l;
  padding-bottom: 10px;

  @include tablet-and-smaller {
    font-size: $font-size-m;
  }
}

@mixin clickable-effects($color) {
  background-color: $color;
  user-select: none;

  &.focus {
    background-color: darken($color, 5%);
  }

  &.inactive {
    background-color: gray;
  }

  &:hover {
    background-color: lighten($color, 5%);
  }

  &:active {
    background-color: darken($color, 10%);
  }
}