@import '~styles/variables.scss';

@mixin small-phone {
  @media only screen
    and (max-width: $screen-xs - 1) {
      @content;
  }
}

@mixin phone {
  @media only screen
    and (max-width: $screen-s - 1) {
      @content;
  }
}

@mixin tablet {
  @media only screen
    and (min-width: $screen-s)
    and (max-width: $screen-m - 1) {
      @content;
  }
}

@mixin tablet-and-smaller {
  @media only screen
    and (max-width: $screen-m - 1) {
      @content;
  }
}

@mixin desktop {
  @media only screen
    and (min-width: $screen-m) {
      @content;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flex-parent($align-items: center, $justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flex-child-grow($flex-basis: auto) {
  flex: 1 1 $flex-basis;
}

@mixin flex-child {
  flex: 0 0 auto;
}

@mixin clickable-effects($color) {
  background-color: $color;
  user-select: none;

  &.inactive {
    background-color: desaturate($color, 30%);
    opacity: 0.25;
  }

  &:hover {
    background-color: lighten($color, 5%);
  }

  &:active {
    background-color: darken($color, 10%);
  }
}

@mixin transparent-clickable-effects() {
  background-color: transparent;
  user-select: none;

  &.inactive {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.25;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

@mixin highlight-on-hover {
  position: relative;

  &:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: $highlight-color;
  }
}

@mixin content-scrolling {
  overflow-y: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  touch-action: pan-y;
}
