@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.range-picker {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;

  .min-picker {
    flex: 0 1 auto;
    margin-right: $spacing-s;
  }

  .max-picker {
    flex: 0 1 auto;
    margin-left: $spacing-s;
  }

  .separator {
    font-size: $font-size-m;
  }
}
