@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.form {
  .submit-button-container {
    text-align: right;

    .submit-button {
      margin-top: $spacing-l;

      &.button {
        .icon {
          margin-right: $spacing-s;
        }

        .label {
          display: inline;
        }
      }
    }
  }
}
